/*section#about 关于我*/
#about{
	background:#2B2B2B;
	color:#fff;
	height:100%;
	text-align:center;
	padding-top:65px;
}
.about{
	width:70%;
	margin:0 auto;
}

.about hr{
	width:100px;
	display:inline-block;
}

.row{
	margin:0 auto;
	width:450px;
}
.row:after{
	content:'';
	clear: both;
	display:block;
	zoom:1;/*ie7*/
}

/*头像*/
.about_img{
	float:left;
	margin-top:20px;
}
.about_img img{
	border-radius:100px;
	width:150px;
	transform:box-shadow 3s;
}
.about_img img:hover{
	box-shadow:0px 0px 20px #fff;
}

/*文本部分*/
.about_text{
	float:right;
	width:14px; 
	word-wrap: break-word; 
	letter-spacing: 20px;
	margin:10px 5px; 
}


/*基本信息*/
.info_box{
	background:#eee;
	width:600px;
	color:#000000;
	text-align:center;
	padding:40px;
	border-radius:20px;
	margin:0 auto;
	margin-top:10px;
}
.info_radius{
	width:60px;
	height:60px;
	border-radius:100px;
	background:#EEE;
	border:2px solid #000;
	padding:20px;
	transform:box-shadow 3s;
	overflow:hidden;
	margin-bottom:20px;
}
.info_box li{
	display: inline-block;
	margin-right:20px;
}
.info_radius:hover{
	box-shadow:0px 0px 20px #000;
}
.info_radius:hover img{
	animation:slideAnime 1s;
	-moz-animation:slideAnime 1s; /* Firefox */
	-webkit-animation:slideAnime 1s; /* Safari and Chrome */
	-o-animation:slideAnime 1s; /* Opera */
}

/*滑动动画*/
@keyframes slideAnime{
	49% {
		-webkit-transform: translate(100%);
		transform: translate(100%);
	}
	50% {
		-webkit-transform: translate(-100%);
		transform: translate(-100%);
		opacity: 0;
	}
}
@-webkit-keyframes slideAnime{
	49% {
		-webkit-transform: translate(100%);
		transform: translate(100%);
	}
	50% {
		-webkit-transform: translate(-100%);
		transform: translate(-100%);
		opacity: 0;
	}
}
@-moz-keyframes slideAnime{
	49% {
		-webkit-transform: translate(100%);
		transform: translate(100%);
	}
	50% {
		-webkit-transform: translate(-100%);
		transform: translate(-100%);
		opacity: 0;
	}
}
@-o-keyframes slideAnime{
	49% {
		-webkit-transform: translate(100%);
		transform: translate(100%);
	}
	50% {
		-webkit-transform: translate(-100%);
		transform: translate(-100%);
		opacity: 0;
	}
}

