*{
	padding:0px;
	margin:0px;
	font-family:sans-serif, "微软雅黑",Georgia;
}
span,em,a,input{
	padding:0;
	margin:0;
	font-family: "微软雅黑";
	outline:none;
}
img{
	outline:none;
	border:none;
}
em{
	font-size:16px;
}
a{
	text-decoration:none;
}
body{
	width:100%;
	height:100%;
}
html{
	height:100%;
}
/*header.home*/
header{
	background:url(../img/bg1.jpg) no-repeat;
	background-size:cover;
	height:100%;
	color:#eee;
	width:100%;
	overflow:hidden;
	text-align:center;
}
.banner-text{
	position:absolute;
	bottom:20%;
	left:20%;
	margin: 0 auto;
	width:60%;
}

h1{
	font-size:200%;
	font-weight:lighter;
	font-family:"微软雅黑";
	text-align: center;
	margin:2px;
}
h3{
	font-size:100%;
	text-align:center;
	margin:2px;
	font-weight:lighter;
}
.banner-text hr{
	height:1px;
	border:none;
	border-top:1px solid #A1A1A1;
}



/*右边导航条
aside{
	position:fixed;
	left:90%;
	z-index:10;
	top:50%;
}
aside li{
	list-style:circle;
	font-size:20px;
	color:#CCCCCC;
}
.aside_active{
	list-style:initial;
}*/

/*page
.page{
	width:100%;
	height:100%;
	overflow:hidden;
	vertical-align: middle;
}
.page_box{
	width:85%;
	margin:20% auto;
	height:100%;
}
.page hr{
	color:
}*/